@font-face {
    font-family: "pesta";
    src: url(./FONT/PestaTahunBaru.ttf) format('truetype');
}

@font-face {
    font-family: "American Kids";
    src: url(./FONT/American\ Kids.ttf) format('truetype');
}

body {
    background-image: url(./IMG/RAIN_BCKGRD.png);
    background-size: 100vw 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua;
    font-size: 40px;
    font-family: "pesta", cursive;
    text-shadow: 1px 1px #000000;
}

.container h1 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding-top: 10px;
    font-family: "American Kids", cursive;
    color: #fc7702;
}


.cursor {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 65, 147);
    border-radius: 50%;
    position: absolute;
    background: url(./IMG/Vectorheart.png);
    background-size: cover;
    cursor: none;
}

.mazeContainer {
    position: absolute;
    width: 708.2px;
    height: 631px;
    left: 535px;
    top: 27px;
}

.groupOne {
    position: absolute;
    display: flex;
    justify-content: center;
    background-size: 100vw 100vh;
    width: 1000px;
    height: 600px;
    background: rgba(207, 182, 255, 0.946);
    border-radius: 91px;
} 

.mazeOne {
    position: absolute;
    width: 642.49px;
    height: 104.99px;
    left: -369.28px;
    top: 107px;
    background: #b6ff0b;
    border-radius: 0px 50px 0px 0px;
}

.mazeThree {
    position: absolute;
    width: 450.23px;
    height: 104.99px;
    left: -177.03px;
    top: 283.03px;
    background: #b6ff0b;
    border-radius: 50px 0px 50px 50px;
}


.mazeTwo{
    position: absolute;
    width: 92.98px;
    height: 71.04px;
    left: 180.22px;
    top: 211.99px;
    background: #b6ff0b;
}

.obstacle {
    box-sizing: border-box;
    position: absolute;
    width: 163.59px;
    height: 71.83px;
    left: 181.41px;
    top: 211.2px;
    background: #F54DA8;
    border: 5px solid #FFC7F3;
    border-radius: 50px;
    transition: left 6s;
}

.start {
    position: absolute;
    width: 65.72px;
    height: 104.99px;
    left: -435px;
    top: 107px;
    background: #FF9900;
    border-radius: 47px 0px 0px 47px;
}

.mazeFour {
    position: absolute;
    width: 92.98px;
    height: 187.08px;
    left: -177px;
    top: 336px;
    background: #b6ff0b;
    border-radius: 0px 0px 50px 50px;
}

.finish {
    position: absolute;
    width: 92.98px;
    height: 74.2px;
    left: -177.03px;
    top: 463.8px;
    background: #00fff0;
    border-radius: 0px 0px 50px 50px;
}

.finish.text {
    position: absolute;
    width: 48.94px;
    height: 18.95px;
    left: -155.35px;
    top: 491.43px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF5C00;
}

.start.text {
    width: 27.27px;
    height: 93.94px;
    left: -414.73px;
    top: 114.1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #DBFF00;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.infoBtn {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 139, 0);
    color: rgb(255, 1, 137);
}

p {
    font-family: 'American Kids', cursive;
    font-size: 30px;
}
 
.restart {
    background-color: blue;
}

.infoBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.infoBox.active {
    transform: translate(-50%, -50%) scale(1);
}

.infoHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.infoHeader .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.infoHeader .closeBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.infoBody {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}