@font-face {
    font-family: "pesta";
    src: url(./FONT/PestaTahunBaru.ttf) format('truetype');
}

@font-face {
    font-family: "American Kids";
    src: url(./FONT/American\ Kids.ttf) format('truetype');
}

body {
    background-image: url(./IMG/RAIN_BCKGRD.png);
    background-size: 100vw 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua;
    font-size: 40px;
    font-family: "pesta", cursive;
    text-shadow: 1px 1px #000000;
}

.container h1 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding-top: 10px;
    font-family: "American Kids", cursive;
    color: #fc7702;
}


.cursor {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 65, 147);
    border-radius: 50%;
    position: absolute;
    background: url(./IMG/Vectorheart.png);
    background-size: cover;
    cursor: none;
}

/* Group 1

position: absolute;
width: 1130px;
height: 546px;
left: -435px;
top: 107px; */

.mazeOne {
    position: absolute;
    width: 919px;
    height: 133px;
    left: -341px;
    top: 107px;

    background: #D49DFF;
    border-radius: 0px 50px 0px 0px;
}

.mazeThree {
    position: absolute;
    width: 644px;
    height: 133px;
    left: -66px;
    top: 330px;

    background: #D49DFF;
    border-radius: 50px 0px 50px 50px;
}


.mazeTwo{

position: absolute;
width: 133px;
height: 90px;
left: 445px;
top: 240px;

background: #D49DFF;
}

.obstacle{

box-sizing: border-box;
position: absolute;
width: 234px;
height: 91px;
left: 461px;
top: 239px;
background: #F54DA8;
border: 5px solid #FFC7F3;
border-radius: 50px;
}

.start {
position: absolute;
width: 94px;
height: 133px;
left: -435px;
top: 107px;
background: #FF9900;
border-radius: 47px 0px 0px 47px;
}

.mazeFour {
    position: absolute;
    width: 133px;
    height: 237px;
    left: -66px;
    top: 416px;
    background: #D49DFF;
    border-radius: 0px 0px 50px 50px;
}

.finish {
    position: absolute;
    width: 133px;
    height: 94px;
    left: -66px;
    top: 559px;
    background: #00fff0;
    border-radius: 0px 0px 50px 50px;
}

.finish.text {
    position: absolute;
    width: 70px;
    height: 24px;
    left: -35px;
    top: 594px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF5C00;
}

.start.text {
    position: absolute;
    width: 39px;
    height: 119px;
    left: -406px;
    top: 116px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #DBFF00;
}

 .groupOne {
    display: flex;
    justify-content: center;
    background-size: 100vw 100vh;
    width: 1000px;
    height: 600px;
    background: rgba(207, 182, 255, 0.946);
    border-radius: 91px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.infoBtn {
    border: none;
    background-color: rgba(0, 0, 139, 0);
    color: rgb(255, 1, 137);
}

p {
    font-family: 'American Kids', cursive;
    font-size: 30px;
}
 
.obstacle {
    box-sizing: border-box;
    position: absolute;
    width: 174px;
    height: 71px;
    left: 861px;
    top: 290px;
    background: #F54DA8;
    border: 5px solid #FFC7F3;
    border-radius: 50px;
    transition: left 10s;
}

.restart {
    background-color: blue;
}

.infoBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.infoBox.active {
    transform: translate(-50%, -50%) scale(1);
}

.infoHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.infoHeader .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.infoHeader .closeBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.infoBody {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}